.problemstatement {

  font-family: 'PT Serif', sans-serif;
  font-size: 1rem;

  .problemheader {
    text-align: center;
  }

  .problemlimits {
    text-align: center;
  }

  .problembody {

    .figure {
      display: block;

      .caption {
        text-align: center;
      }

      margin: 2em 0;
    }

    h2 {
      font-size: 1.5rem;
      font-family: 'PT Serif', sans-serif;
    }

    h3 {
      font-size: 1.2rem;
      font-family: 'PT Serif', sans-serif;
    }

    h4 {
      font-size: 1rem;
      font-family: 'PT Serif', sans-serif;
    }
  }

  div.illustration {
    float: right;
    padding-left: 20px;
  }

  img.illustration {
    width: 100%;
  }

  div.figure {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .illustration div.description {
    font-size: 8pt;
    text-align: right;
  }

  .problembody p {
    text-align: justify;
  }

  td {
    vertical-align: top;
  }

  table, table td {
    border: 0;
  }

  table.tabular p {
    margin: 0.3rem;
  }

  table.tabular {
    margin: 0.7rem auto;
    width: 100%;
  }

  table.sample {
    width: 100%;
    margin: 1rem 0;
    table-layout: fixed;
  }

  table.sample tbody {
  }

  table.sample th {
    text-align: left;
  }

  table.sample td {
    border: 1px solid black;
    padding: 0.3rem;
    width: 50%;
    pre {
      margin: 0;
    }
  }

  div.sampleinteractionread {
    border: 1px solid black;
    width: 60%;
    float: left;
    margin: 3px 0px 3px 0px;
  }

  .sampleinteractionread pre {
    margin: 1px 5px 1px 5px;
  }

  div.sampleinteractionwrite {
    border: 1px solid black;
    width: 60%;
    float: right;
    margin: 3px 0px 3px 0px;
  }

  .sampleinteractionwrite pre {
    margin: 1px 5px 1px 5px;
  }
}