Source: omogenjudge-web
Section: python
Priority: extra
Maintainer: Johan Sannemo <jsannemo@jsannemo.se>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 1.0), python3-setuptools, python3-pip, python3-dev, libffi-dev
Standards-Version: 3.9.5

Package: omogenjudge-web
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3 (>= 3.10), ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: A short summary of what this is.
    Further indented lines can contain extra information.
    .
    A single dot separates paragraphs.
