[Unit]
Description=OmogenJudge Web Frontend
After=syslog.target

[Service]
ExecStart=/var/lib/omogen/web/omogenjudge-web/bin/uwsgi \
        --ini /var/lib/omogen/web/uwsgi.ini \
        --socket /var/lib/omogen/web/run/uwsgi.socket
User=omogenjudge-web
Group=omogenjudge-web
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=journal
NotifyAccess=all

[Install]
WantedBy=multi-user.target
