#!/usr/bin/make -f


%:
	DH_VIRTUALENV_INSTALL_ROOT=/var/lib/omogen/web/ dh $@ --with python-virtualenv

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade

override_dh_strip:
		dh_strip --exclude=/site-packages/
override_dh_shlibdeps:
		dh_shlibdeps --exclude=/site-packages/

