[Unit]
Description=OmogenJudge Sandbox
After=network.target

[Service]
Type=simple
Restart=always
User=omogenjudge
ExecStart=/usr/bin/omogenjudge-sandbox

[Install]
WantedBy=multi-user.target
