[Unit]
Description=OmogenJudge Sandbox
After=network.target

[Service]
Type=simple
Restart=always
User=omogenjudge-sandbox
ExecStartPre=/usr/bin/env bash -c 'mkdir -p /sys/fs/cgroup/{cpuacct,memory,pids}/omogencontain'
ExecStartPre=/usr/bin/env bash -c 'chown omogenjudge-sandbox:omogenjudge-sandbox /sys/fs/cgroup/{cpuacct,memory,pids}/omogencontain'
ExecStartPre=/usr/bin/env bash -c 'echo "rmdir" > /sys/fs/cgroup/memory/release_agent || true'
ExecStartPre=/usr/bin/env bash -c 'echo "rmdir" > /sys/fs/cgroup/cpuacct/release_agent || true'
PermissionsStartOnly=true
ExecStart=/usr/bin/omogenjudge-sandbox --logtostderr -v=4
ExecStopPost=/usr/bin/env bash -c 'rmdir /sys/fs/cgroup/{cpuacct,memory,pids}/omogencontain || true'

[Install]
WantedBy=multi-user.target
