{% extends "base.html" %}
{% block 'title' %}
Problems
{% endblock %}

{% load problems %}

{% block 'content' %}
<div class="row justify-content-center">
    <div class="col-lg-4">
        <h1>Problems</h1>
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
            </thead>
            {% for cproblem in problems %}
            <tr>
                <td>
                    {{ cproblem.label }}
                </td>
                <td>
                    {% include 'problems/link.html' with problem=cproblem.problem %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}