{% extends "base.html" %}

{% import "social.html" as social with context %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    Register an account
                </div>
                <div class="card-body">
                    {{ crispy(register_form) }}
                    {% if social_logins %}
                        <hr>
                        <div class="text-center">
                            {{ social.social_logins(social_logins) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}