{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    Log in
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        This is the first time you have logged in, so you need to create an account.
                        Choose a username and enter your full name below.
                    </div>
                    {{ crispy(social_create_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
