---
- name: Install omogenexec
  hosts: host
  remote_user: root

  tasks:
  - name: Install omogenexec
    ansible.builtin.apt:
      deb: https://github.com/jsannemo/omogenexec/releases/download/v1.3.0/omogenexec-debian.deb
      state: present

- name: Install omogenjudge-host
  hosts: host

  tasks:
  - name: Upload deb
    ansible.builtin.copy:
      src: ./packages/omogenjudge-host.deb
      dest: omogenjudge-host.deb
  - name: Install omogenjudge-host.deb
    ansible.builtin.command: sudo dpkg -i omogenjudge-host.deb
