{% macro problem_title(problem) %}
    {% set problem_titles = problem.titles_by_language %}
    {% set ns = namespace(found=false) %}
    {% for lang in preferred_languages() if not ns.found %}
        {% if lang in problem_titles %}
            {{ problem_titles[lang] }}
            {% set ns.found = True %}
        {% endif %}
    {% endfor %}
    {% if not ns.found %}
        {{ problem_titles[(problem_titles.keys() | sort)[0]] }}
    {% endif %}
{% endmacro %}

{% macro scoreboard_problem_link(scoreboard_problem) %}
    {% if scoreboard_problem.problem.label %}
        <span class="badge me-1 bg-primary"
              style="font-size: 0.9rem">{{ scoreboard_problem.label }}</span>
    {% endif %}
    {{ link(scoreboard_problem.problem.problem) }}
{% endmacro %}

{% macro link(problem, current_problem=None) %}
    {% if current_problem == problem.short_name %}
        {{ problem_title(problem) }}
    {% else %}
        <a href="{{ contest_url('problem', problem.short_name) }}">{{ problem_title(problem) }}</a>
    {% endif %}
{% endmacro %}