{% extends "base.html" %}

{% import "contests/helpers.html" as contesthelpers with context %}
{% import "problems/helpers.html" as problemhelpers %}
{% import "submissions/helpers.html" as submissionhelpers %}
{% import "util.html" as util %}
{% import "formatting.html" as formatting %}

{% block title %}{{ statement_title }}{% endblock %}
{% set active_page = 'contest' %}

{% block extra_head %}
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css"
      integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js"
        integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp"
        crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js"
        integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
        onload="
        document.querySelectorAll('.tex2jax_process').forEach(
            el => renderMathInElement(el, { delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true},
              {left: '\\begin{equation}', right: '\\end{equation}', display: true},
              {left: '\\begin{equation*}', right: '\\end{equation*}', display: true},
              {left: '\\begin{align}', right: '\\end{align}', display: true},
              {left: '\\begin{align*}', right: '\\end{align*}', display: true},
              {left: '\\begin{alignat}', right: '\\end{alignat}', display: true},
              {left: '\\begin{gather}', right: '\\end{gather}', display: true},
              {left: '\\begin{CD}', right: '\\end{CD}', display: true},
          ],
          ignoredClasses: ['*']
        }));
"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        {% if contest %}
        {{ nav.contest_nav() }}
        {% endif %}
    </div>
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header text-center">
                <h1 class="card-title">{{ statement_title }}</h1>
                <h6 class="card-subtitle text-muted">
                    Time: {{ timelim_seconds }} s &nbsp;&nbsp;&nbsp; Memory: {{ memlim_mb }} MB
                </h6>
                {% if statement_languages|length > 1 %}
                <div class="fs-6">
                    {% for lang in statement_languages %}
                    <a href="{{ contest_url('problem-language', short_name, lang) }}"
                       class="text-decoration-none">
                        {{ emoji_flag(lang) }}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                {% if attachments %}
                <li class="list-group-item">
                    <strong>Attachments:</strong>
                    {% for name, url in attachments %}
                        <a href="{{url}}" class="text-decoration-none">{{name}}</a>
                    {% endfor %}
                </li>
                {% endif %}
                <li class="list-group-item problemstatement">
                    {{ statement_html | safe }}
                </li>
            </ul>
            <div class="card-footer d-flex justify-content-between">
                {% if statement_authors %}
                <span>
                            Authors: {{ statement_authors }}
                        </span>
                {% else %}
                Source: {{ statement_source }}
                {% endif %}
                <span>
                    {% if statement_license.url() %}
                        License: <a href="{{ statement_license.url() }}">{{ statement_license.display() }}</a>
                    {% else %}
                        License: {{ statement_license.display() }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
    {{ contesthelpers.contest_card(include_problems=True, current_problem=short_name) }}
        {% if contest_team or user.is_superuser %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    Submit
                    <div id="submit-progress" class="d-none spinner-border spinner-border-sm ms-auto"
                         role="status"
                         aria-hidden="true"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="alert alert-danger d-none" id="submit-errors"></div>
                {{ crispy(submit_form) }}
                <span class="text-muted">The source code can be at most 200 KB.</span>
            </div>
        </div>
        {% elif user.is_authenticated %}
        <div class="alert alert-warning mb-0">
            You must be registered for the contest to submit solutions.
        </div>
        {% else %}
        <div class="alert alert-primary mb-0">
            You must log in to submit solutions to the problem.
        </div>
        {% endif %}
        {% if submissions %}
        <div class="card mb-3">
            <div class="card-header">
                Previous submissions
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>Submitted</th>
                        <th class="text-center">Score</th>
                        <th class="text-center">Time</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% for sub_with_subtasks in submissions %}
                    {% set sub=sub_with_subtasks.submission %}
                    {% set sub_scores=sub_with_subtasks.subtask_scores %}
                    <tr class="align-middle">
                        <td>
                            {% if contest %}
                            {{ submissionhelpers.format_submission_time(sub) }}
                            {% else %}
                            {{ util.simple_local_date(sub.date_created) }}
                            {% endif %}
                        </td>
                        {% if is_scoring %}
                        <td class="text-center">
                            {{ submissionhelpers.display_score_verdict(sub.current_run, sub_scores, subtask_scores) }}
                        </td>
                        {% else %}
                        <td>
                            {{ submissionhelpers.display_verdict(sub.current_run) }}
                        </td>
                        {% endif %}
                        <td class="text-center">
                            {{ formatting.format_time_limit(sub.current_run.time_usage_ms, timelim_ms) }}
                        </td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-primary"
                               href="{{ contest_url('submission', sub.submission_id) }}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    const sourceCodeLimit = parseInt("{{ source_code_limit }}");
    const extensions = {
        "rs": "rust",
        "cs": "csharp",
        "cpp": "cpp",
        "cc": "cpp",
        "java": "java",
        "rb": "ruby",
        "py": "python3",
    }

    $(function () {
        const file_upload = $("#id_upload_files");
        const form = $("#submit");
        const errorContainer = $("#submit-errors");
        const submitButton = $("#submit-id-submit");
        const language = $("#id_language");
        file_upload.change(function (e) {
            for (const file of file_upload[0].files) {
                const parts = file.name.split(".");
                const ext = parts[parts.length - 1];
                console.log(ext);
                if (extensions[ext]) {
                    language.val(extensions[ext]);
                    break;
                }
            }
        });
        form.on("submit", function (e) {
            e.preventDefault();
            errorContainer.empty().addClass("d-none");
            const errors = [];
            if (fileSize(file_upload[0].files) > sourceCodeLimit) {
                errors.push('The source code limit is ' + Math.floor(sourceCodeLimit / 1000) + ' KB');
                checkErrors(errors);
            } else {
                $("#submit-progress").removeClass("d-none");
                submitButton.prop('disabled', true);
                $.ajax({
                    type: form.attr("method"),
                    url: form.attr("action"),
                    data: new FormData(form[0]),
                    contentType: false,
                    processData: false,
                }).done(function (data) {
                    if (data.errors) {
                        Object.entries(data.errors).forEach(e => {
                            errors.push(...e[1]);
                        });
                    } else {
                        window.location = data.submission_link;
                    }
                }).fail(function () {
                    errors.push("An unknown error occurred");
                }).always(function () {
                    $("#submit-progress").addClass("d-none");
                    checkErrors(errors);
                    submitButton.prop('disabled', false);
                });
            }
            return false;
        });

        function checkErrors(errors) {
            if (errors.length === 1) {
                errorContainer.append(errors[0]).removeClass("d-none");
            } else if (errors.length > 1) {
                const errorList = $("<ul class='mb-0'></ul>").append(
                    errors.map(error => {
                        const errorItem = $("<li></li>");
                        errorItem.text(error);
                        return errorItem;
                    }));
                errorContainer.append(errorList).removeClass("d-none");
            }
        }
    });

    function fileSize(files) {
        let len = 0;
        Array.from(files).forEach(f => len += f.size);
        return len;
    }
</script>
{% endblock %}