.statement .samplebox {
  border: 1px solid black;
  border-top: none;
  margin-top: 15px;
  page-break-inside: avoid;
}

.statement .samplebox .samplebox-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 7px;
  background: #efefef;
  position: relative;
}

.statement .samplebox .samplebox-data {
  margin: 0;
  padding: 10px;
}

.statement .samplebox .copy-sample-btn {
  position: absolute;
  right: 10px;
  top: 4px;
  cursor: pointer;
}


.course pre.chroma,
.course pre.chroma * {
  font-size: 13pt;
  line-height: 18pt;
  overflow: visible;
  font-family: 'Roboto Mono';
}

.course .row p {
  margin-top: 0.7em;
  text-align: justify;
}

.course .chapter-box {
  border-left: 4px solid #03a9f4;
  padding-left: 20px;
}

.course .chapter-box:hover {
  border-left-color: #3f51b5;
}

.course .chapter-box h2 {
  color: #03a9f4;
}

.course .chapter-box:hover h2 {
  color: #3f51b5;
}

.course .display.subtext,
.course .display.subtext a {
  padding-top: 10px;
  font-size: 22px;
}

.course .row {
  width: 800px;
}

.course .course-box {
  border: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.course .course-box-header {
  padding: 10px;
  font-size: 17pt;
  font-weight: 600;
  background-color: lightgray;
}

.course .course-box-content {
  border-top: 1px solid black;
  padding: 10px;
  font-size: 14pt;
}

.course .course-problem-title {
  text-align: center;
}

.course .course-problem h1 {
  margin: 0;
}

.course .course-problem {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px 20px 20px;
  border: 1px solid black;
}

.course .course-problem-exercise {
}

i.material-icons {
  line-height: normal;
  vertical-align: middle;
}

@media print {
  .navbar {
    display: none;
  }
  .footer {
    display: none;
  }
  .problem-actions {
    display: none;
  }
  .alert {
    display: none;
  }
  .problem-authors {
    display: none;
  }
}
