[Unit]
Description=OmogenJudge Master Judge
After=network.target

[Service]
Type=simple
Restart=always
User=omogenjudge
ExecStart=/usr/bin/omogenjudge-master

[Install]
WantedBy=multi-user.target
